@font-face {
  font-family: "iconfont"; /* Project id 4983616 */
  src: url('iconfont.woff2?t=1753426797803') format('woff2'),
       url('iconfont.woff?t=1753426797803') format('woff'),
       url('iconfont.ttf?t=1753426797803') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e600";
}

.icon-rarrow3:before {
  content: "\e602";
}

.icon-sanjiantou:before {
  content: "\e607";
}

.icon-sanjiantou1:before {
  content: "\e6c2";
}

.icon-a-zhinengjiqirenjiqiren:before {
  content: "\e646";
}

